<!DOCTYPE html>
<html>
<head>
	<title>Search Page</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
	<script src="/static/jquery.min.js"></script>
	<script src="/static/script.js"></script>
</head>
<body>
	<button id="upload-html" onclick="window.location.href='http://127.0.0.1:5000/up'" type="button">upload</button>
	<div class="container">
		<h1>Search Page</h1>
		<form id="search-form">
			<input type="text" id="search-input" placeholder="Search...">
			<button type="submit">Search</button>
		</form>
		<div id="parent"></div>
		<!-- <div id="search-results"></div>
		<div id="download-link"></div> -->
	</div>
</body>
</html>